.container{
    width: 95%;
    max-width: 785px;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 12px;
}

.companyInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
}
.companyLogo{
    width: 80%;
    max-width: 200px;
    min-width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.shortDesc{
    height: 100%;
    margin: 10px;
}

.shortDesc p{
    padding: 0;
    margin: 0;
}

.title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
}


.buttonArea{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
